$Dark: #21243d;
$light: #d6eaf0;
$Primary: #ff6464;
@font-face {
  font-family: "Heebo";
  src: url("../../resources/Heebo-VariableFont_wght.ttf") format("truetype");
}

.footer-con {
  width: auto;
  max-width: 100%;
  margin-top: 119px;
  .link-con {
    width: auto;
    .link-img {
      width: 30px;
      height: 30px;
    }
    #margin-left {
      margin-left: 36px;
    }
  }
  .copy-con {
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $Dark;
    margin: 26px 0px 54px 0px;
  }
}
