$Dark: #21243d;
$Light: #d6eaf0;
$Primary: #ff6464;
@font-face {
  font-family: "Heebo";
  src: url("../../resources/Heebo-VariableFont_wght.ttf") format("truetype");
}

.article-page {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Heebo", sans-serif;
  .article-con {
    margin-top: 78px;
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: left;
    .title {
      font-weight: 700;
      font-size: 34px;
      line-height: 50px;
      color: $Dark;
    }
    .details-con {
      display: flex;
      flex-direction: row;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: $Dark;
      .timestamp {
      }
      .tags {
        margin-left: 10px;
        font-weight: 400;
      }
    }
    .text {
      font-weight: 400;
      font-size: 16px;
      line-height: 23.5px;
    }
    .img-con {
      .img {
        max-width: 100%;
      }
    }
    .heading {
      font-weight: 500;
      font-size: 30px;
      line-height: 60px;
    }
    .textbox {
      .paragraph {
        .text {
        }
      }
    }
    .subHeading {
      font-weight: 500;
      font-size: 24px;
      line-height: 60px;
    }
    .link-con {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      .link {
        margin-right: 5px;
      }
    }
  }
}
