.article-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  .media-con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: calc(100vw);
    overflow-wrap: normal;
    flex-wrap: wrap;
    .img-com-con {
      width: fit-content;
      max-width: calc(80%);
      display: flex;
      justify-content: center;
      overflow-wrap: normal;
    }
  }

  .textbox {
    width: calc(80%);
    text-align: center;
    padding-top: 8px;
    margin: 5px 0px;
  }
}

h1 {
  font-size: 25px;
  font-weight: 350;
}
