$Primary: #ff6464;
$Dark: #21243d;
$Light: #8695a4;

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
}
