$Primary: #ff6464;
$Dark: #21243d;
$Light: #8695a4;

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0px;
}
.show-header {
  position: fixed;
  width: 130px;
  border-radius: 0px 0px 10px 10px;
  top: 0px;
  background-color: #d6eaf0;
  color: #142850;
  cursor: pointer;
  &:hover {
    color: $Primary;
  }
}
