$Dark: #21243d;
$Light: #d6eaf0;
$Primary: #ff6464;
@font-face {
  font-family: "Heebo";
  src: url("../../resources/Heebo-VariableFont_wght.ttf") format("truetype");
}

.stamps-tags-con {
  display: flex;
  flex-direction: row;
  .timestamp {
    margin: 37px 5px 0px 23px;
    color: $Dark;
    font-family: "Heebo";
    font-size: 18px;
    width: auto;
  }
  .tags {
  }
}
