$Primary: #ff6464;
$Dark: #21243d;
$Light: #8695a4;

.post-con {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  background-color: white;
  border-bottom: 2px solid #e0e0e0;
  width: 50vw;
  margin: 20px;
  height: auto;

  .title-con {
    width: fit-content;
    font-size: 30px;
    font-weight: medium;
    margin: 5px;
    color: $Dark;
    cursor: pointer;
    &:hover {
      color: $Primary;
    }
  }

  .timestamp {
    margin: 0px 5px;
    color: $Light;
  }

  .large-textbox {
    width: calc(80%);
    max-height: 63px;
    overflow: hidden;
    color: $Dark;
    margin: 5px 5px 30px 5px;
    font-size: 16;
  }
}
